body {
  background-color: #000;
  color: rgb(255 255 255 / 87%);
  margin: 0;
  padding: 0;
}

#app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
